nav{
    border: 2px solid black;
    height: 50px;
    width: 100%;
    background:black;
    color: white;
}

h1{
    position: relative;
    left: 80px;
    bottom: 10px;
}
#i{
    border: 2px solid none;
    height: 350px;
    width: 100%;
    background:#dadbf1;
    position: relative;
    bottom: 33px;
}
#g{
    border: 2px solid black;
    height: 850px;
    width: 100%;
    position: relative;
    bottom: 33px;
}
#r{
    position: relative;
    left: 1000px;
    top: 100px;
}
#t{
    position: relative;
    bottom: 550px;
    left: 100px;
}